@charset "UTF-8";

.Burger_Menu img{
	height: 40px;
	width: auto;
	margin-left: auto;
	display: block;
}

.fotter img{
	height: 25px;
	width: auto;
	margin: 0 auto;
}

.fotter{
	display: flex;
	align-items:flex-start;
	display: block;
}

p,h3 {
	text-align: center;
}