@charset "UTF-8";

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Burger_Menu img{
	height: 40px;
	width: auto;
	margin-left: auto;
	display: block;
}

.img-frame{
	position: relative;
	width: 100%;
	height: 1000px;
	overflow: hidden;
	margin: 0 auto;
}

@media screen and (max-width: 767px){
	.img-frame{
		width: auto;
		height: 200px;
	}

	.top-menu{
		width: auto;
		height: 100px;
	}
}
.img-01, .img-02, .img-03, .img-04{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
}

.img-01 img, .img-02 img, .img-03 img, .img-04 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.img-01{
	animation: slide-animation-01 24s infinite;
}

.img-02{
	animation: slide-animation-02 24s infinite;
}

.img-03{
	animation: slide-animation-03 24s infinite;
}

.img-04{
	animation: slide-animation-04 24s infinite;
}

@keyframes slide-animation-01 {
	0% {opacity: 1; transform: scale(1.0);}
	25% {opacity: 0;}
}
@keyframes slide-animation-02 {
	0% {opacity: 0; transform: scale(1.0);}
	25% {opacity: 1;}
}
@keyframes slide-animation-03 {
	0% {opacity: 0; transform: scale(1.0);}
	25% {opacity: 0;}
	50% {opacity: 1;}
}
@keyframes slide-animation-04 {
	0% {opacity: 0; transform: scale(1.0);}
	25% {opacity: 0;}
	50% {opacity: 0;}
	75% {opacity: 1;}
	100%{opacity: 1;}
}

.top-menu img{
	width: auto;
	height: 300px;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}

.menu-touch a{
	display: flex;
	align-items: center;
	justify-content: center;
}


.fotter img{
	height: 28px;
	width: auto;
	margin: 0 auto;
	align-items: center;
	display: flex;
	flex-direction: column;
}

footer {
	background-color: rgba(123, 123, 123, 0.452);
}

p,h3 {
	text-align: center;
}
